# Created by venv; see https://docs.python.org/3/library/venv.html

# Entorno virtual
myenv/
env/
venv/
.venv/

# Archivos de bases de datos
db.sqlite3
*.db

# Archivos de configuración locales
*.env
.env.local
.env.production

# Archivos de caché de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.log

# Django específico
media/
staticfiles/
static/
*.pot



# Archivos de VSCode o editores
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Node.js / React
node_modules/
dist/
dist-ssr/
build/
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage reports
htmlcov/
.coverage
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints