# Created by venv; see https://docs.python.org/3/library/venv.html

# Entorno virtual
myenv/
env/
venv/

# Archivos de bases de datos
db.sqlite3

# Archivos de configuración locales
*.env

# Archivos de caché de Python
__pycache__/
*.py[cod]
*.log

# Archivos de migraciones innecesarios si recién empiezas
**/migrations/*.pyc
**/migrations/__pycache__/

# Archivos de VSCode o editores
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

